mixin Inputs-with-counter(type, subscribe, placeholder, describe, ...issues)
    div(class=`js-input-with-counter input-with-counter input-with-counter${type?"_"+type: ""}`)
        p(class="input-with-counter__describe") #{describe}
        include ../../Figures/Arrow-down/Arrow-down.pug
        label
            if subscribe
                h3.input-with-counter__subscribe #{subscribe}
            input(class="js-input-with-counter__value input-with-counter__value" placeholder=`${placeholder}` list="amount" name="amountOfGuests") 
        ul(class="input-with-counter__menu js-input-with-counter__menu input-with-counter__menu_hidden")
            each val in issues
                - var min = val.min
                - var max = val.max
                li(class="js-input-with-counter__element input-with-counter__element")
                    strong(class="input-with-counter__item-name") #{val.name}
                    span(class="js-input-with-counter__counter input-with-counter__counter" data-min=`${min}` data-max=`${max}`)
                        span.js-input-with-counter__tumbler.input-with-counter__tumbler -
                        b(class="js-input-with-counter__number input-with-counter__number") 0
                        span.js-input-with-counter__tumbler.input-with-counter__tumbler +
            div.js-input-with-counter__buttons.input-with-counter__buttons
                span(class="js-input-with-counter__button_delete input-with-counter__button input-with-counter__button_delete") ОЧИСТИТЬ
                span(class="js-input-with-counter__button_confirm input-with-counter__button input-with-counter__button_confirm") ПРИМЕНИТЬ




    