include ../arrow/arrow.pug
mixin dropping-checkboxes({ checkboxes=[], header='', expanded = null } = { })
  fieldset.js-dropping-checkboxes.dropping-checkboxes( data-expanded = expanded )
    legend.js-dropping-checkboxes__header.dropping-checkboxes__header( tabindex=0 )
      h3.dropping-checkboxes__title #{header}
      span.js-dropping-checkboxes__arrow.dropping-checkboxes__arrow
        +arrow({ direction: 'down' })
    ul.dropping-checkboxes__container.js-dropping-checkboxes__container
      each checkbox in checkboxes
        - let name = checkbox.name
        - let checked = Boolean(checkbox.checked)
        - let value = checkbox.value 
        - let subscription = checkbox.subscription
        li.dropping-checkboxes__item
          label(tabindex=0)
            if checked 
              input(class="dropping-checkboxes__checkbox" name=name value=value type="checkbox" checked)
            else 
              input(class="dropping-checkboxes__checkbox" name=name value=value type="checkbox" )
            span(class="dropping-checkboxes__label") #{subscription}