mixin Tumblers(descr, ...issues)
    div.tumblers
        if descr
            h3.tumblers__header #{descr}
        each val in issues
            - var id = val.id
            - var name = val.name
            - var checked = Boolean(val.checked)
            div.tumblers__buttons
                if checked 
                    input(type="checkbox" id=`${id}`  checked)
                else 
                    input(type="checkbox" id=`${id}`)
                label(for=`${id}`) 
                p #{name}