mixin Checkbox-with-describe(desc, ...issues)
    div.Checkbox-with-describe_cont
        h3(style="margin-bottom:15px;") #{desc}
        each val in issues
            - var id = val.id
            - var name = val.name
            - var checked = Boolean(val.checked)
            - var desc = val.desc
            div.Checkbox-with-describe_div
                if checked 
                    input(type="checkbox" id=`${id}` class="Checkbox-with-describe_box" checked)
                else 
                    input(type="checkbox" id=`${id}` class="Checkbox-with-describe_box")
                label(for=`${id}`) 
                div.Checkbox-with-describe-text
                    p.Checkbox-with-describe-title #{name}
                    br
                    p.Checkbox-with-describe-subscribe #{desc}
                    