include ../textfield/textfield.pug
mixin inputs-with-counter({ textfield, isSimple = false, items=[ ], deleteButtonText = 'delete', confirmButtonText = 'confirm' } = { })
  div(class=`js-input-with-counter input-with-counter${isSimple ? ' input-with-counter_simple' : ''}`)
    +textfield({ ...textfield, arrow: 'down' })

    ul.input-with-counter__menu.js-input-with-counter__menu.input-with-counter__menu_hidden
      each item in items
        li.js-input-with-counter__element.input-with-counter__element
          if item.concat
            strong.js-input-with-counter__item-name.input-with-counter__item-name(data-concat = 'true') #{item.name}
          else
            strong.js-input-with-counter__item-name.input-with-counter__item-name(data-form1 = item.nameForm1, data-form2 = item.nameForm2, data-form3 = item.nameForm3) #{item.name}
          span.js-input-with-counter__counter.input-with-counter__counter
            span.js-input-with-counter__tumbler.input-with-counter__tumbler(data-min = item.min, tabindex = 0) -
            b.js-input-with-counter__number.input-with-counter__number(data-init = item.init) 
            span.js-input-with-counter__tumbler.input-with-counter__tumbler(data-max = item.max, tabindex = 0) +
      if !isSimple
        .js-input-with-counter__buttons.input-with-counter__buttons
          button.js-input-with-counter__button_delete.input-with-counter__button.input-with-counter__button_delete(tabindex = 0, type='button') #{deleteButtonText}
          button.js-input-with-counter__button_confirm.input-with-counter__button.input-with-counter__button_confirm(tabindex=0, type='button') #{confirmButtonText}
