mixin Date-picker(label, placeholder, filled, value)
    - if(!filled){filled = ''}
    - else{filled = 'filled-picker'}
    div(class=`Date-picker`)
        include ../../Icons/arrow-down.pug 
        label(style="font-weight:bold") #{label}
            - if(value)
                input(class="Date-picker_value"+` ${filled}` placeholder=`${placeholder}` value=`${value}`)
            - else
                input(class="Date-picker_value"+` ${filled}` placeholder=`${placeholder}`)