mixin Text-field_with_arrow-right(label, placeholder, describe, id, type)
    - if(!describe){describe=''}
    div(class=`js-text-field_with_arrow-right text-field_with_arrow-right`)
        span.text-field_with_arrow-right__arrow.js-text-field_with_arrow-right__arrow
            include ../../../../static/figures/arrow-right/arrow-right.pug 
        label 
            if label
                h3.text-field_with_arrow-right__subscribe #{label}
            if id
                input(class="js-text-field_with_arrow-right__value text-field_with_arrow-right__value" placeholder=`${placeholder}` id=`${id}` type=`${type || "text"}`) 
            else 
                input(class="js-text-field_with_arrow-right__value text-field_with_arrow-right__value" placeholder=`${placeholder}` type=`${type || "text"}`) 
        p(class="text-field_with_arrow-right__describe") #{describe}
        