mixin Button-rounded(text, styles, modifier, buttonType)
    - var classes = ""
    - var buttonType = type ? type : "submit"

    each style in styles 
        - classes += `button-rounded_type_${style} `;
    if modifier =="arrow"
        button(class=`button-rounded ${classes} button-rounded_with_arrow` type =`${type}`) 
            span.button-rounded__text #{text}
            span.button-rounded__arrow
                include ../../static/figures/arrow-right/arrow-right.pug
    else
        button(class=`button-rounded ${classes}` type =`${type}`) 
            span.button-rounded__text #{text}
