mixin Buttons_tumbler(descr, ...issues)
    div.Buttons_tumbler_wrap
        div.Buttons_tumbler_head #{descr}
        div.Buttons_tumbler_cont
            each val in issues
                - var id = val.id
                - var name = val.name
                - var checked = Boolean(val.checked)
                div.Buttons_tumbler_div
                    if checked 
                        input(value=`${id}` type="checkbox" id=`${id}` class="Buttons_tumbler_box" checked)
                    else 
                        input(value=`${id}` type="checkbox" id=`${id}` class="Buttons_tumbler_box")
                    label(for=`${id}`) 
                    p.Buttons_tumbler_text #{name}