mixin Default_checkbox(descr, ...issues)
    div.Default_checkbox_wrap
        div.Default_checkbox_head #{descr}
        div.Default_checkbox_cont
            each val in issues
                - var id = val.id
                - var name = val.name
                - var checked = Boolean(val.checked)
                div.Default_checkbox_div
                    if checked 
                        input(type="checkbox" id=`${id}` class="Default_checkbox_box" checked)
                    else 
                        input(type="checkbox" id=`${id}` class="Default_checkbox_box")
                    label(for=`${id}`) 
                        p.Default_checkbox_text #{name}