mixin Menu(login, issues)
    nav(class="js-header__menu header__menu menu js-menu")
        each val in issues
            if val.blocks
                div(class=`menu__element menu__element_type_dropping js-menu__element_type_dropping menu__element_type_dropping ${val.highlight ? 'menu__element menu__element_type_dropping-highlight' : ''}`) 
                    a #{val.name} 
                    include ../../../static/Icons/arrow-down.pug 
                    div.js-menu__element_type_submenu.menu__element_type_submenu
                        each block in val.blocks
                            div(class="menu__element")
                                a(href=`${block.href}`) #{block.name}
            else
                a(class=`menu__element menu__element_type_inline ${val.addclass || ''}`  href=`${val.href}`)
                    span #{val.name}
        if login   
            a(href="/account/" class="menu__element menu__element_type_login")
                span #{login}
        else
            include ./Menu__autorization/Menu__autorization.pug