mixin Checkbox-with-subscribe(title, ...issues)
    fieldset.checkbox-with-subscribe
        if title
            legend.checkbox-with-subscribe__header #{title}
        each val in issues
            - var checked = Boolean(val.checked)
            div.checkbox-with-subscribe__item
                if checked 
                    input(class="checkbox-with-subscribe__checkbox" type="checkbox" id=`${val.id}` checked)
                else 
                    input(class="checkbox-with-subscribe__checkbox" type="checkbox" id=`${val.id}` )
                label(class="checkbox-with-subscribe__label" tabindex=0 for=`${val.id}`) 
                    div.checkbox-with-subscribe__textbox
                        p.checkbox-with-subscribe__main-text #{val.name}
                        p.checkbox-with-subscribe__sub-text #{val.desc}
                    