mixin Social(obj)
    span.social
        if(obj.twitter)
            a.social__link(href=`${obj.twitter}`)
                i(class="fab fa-twitter")
        if(obj.facebook)
           a.social__link(href=`${obj.facebook}`)
                i(class="fab fa-facebook-square")
        if(obj.instagram)
           a.social__link(href=`${obj.instagram}`)
                i(class="fab fa-instagram")
        if(obj.telegram)
           a.social__link(href=`${obj.telegram}`)
                i(class="fab fa-telegram-plane")
        if(obj.cat)
           a.social__link(href=`${obj.cat}`)
                i(class="fas fa-cat")