mixin Checkbox(descr, ...issues)
    div.checkboxes__wrap
        if descr
            div.checkboxes__head 
                h3 #{descr}
        div.checkboxes__cont
            each val in issues
                - var id = val.id
                - var name = val.name
                - var checked = Boolean(val.checked)
                div.checkboxes__checkbox
                    if checked 
                        input(type="checkbox" id=`${id}` class="Checkbox_box" checked)
                    else 
                        input(type="checkbox" id=`${id}` class="Checkbox_box")
                    label(for=`${id}`) 
                        p.checkboxes__text #{name}  