include ../../Inputs/Date-range_double/Date-range_double.pug
include ../../Inputs/Inputs-with-counter/Inputs-with-counter.pug
include ../../Buttons/Button_rounded/ButtonWithArrow/ButtonWithArrow.pug

mixin NumberBooker(number, category, price, guests, addit, data)
    div(class="NumberBookerCont")
        div(style="display: flex; justify-content: space-between; align-items: flex-end")
            span.NumberBooker__info
                h3 № 
                h1 #{number}
                p(class="UpperPurple") &nbsp;#{category}
            span.NumberBooker__info
                h4(style="color: rgba(31, 32, 65, 0.5)") #{price}₽
                h5 &nbsp;в сутки
        form(name="NumberBooker")
            div(style="display: flex; justify-content: space-between;")
                +Date-range_double(data)
            div(data-counter="simple")
                +Inputs-with-counter('Гости', 'Сколько гостей', '', {name: "взрослые", min: "0", max: "5", base: `${guests}`}, {name: "дети", min: "0", max: "5", base: "0"}, {name: "младенцы", min: "0", max: "5", base: "0"} )
            div.NumberBookerAddits 
                div 
                    span    
                        span #{price}₽ x&nbsp;
                        span.NumberBookerDayAmount 7 суток
                    span.NumberBookerMultipliedPrise 69 930₽ 
                each val in addit
                    div.NumberBookerAddits_addit
                        span 
                            span(style="width: 215px;display:inline-block; vertical-align: top;") #{val.desc} 
                            p(class="NumberBookerAddit_sign") #{val.sign}
                        span #{val.price}₽
                div.NumberBookerTotalPrice
                    span Итого
                    span 68 051₽
            +ButtonWithArrow('забронировать')

