include ../../Inputs/Date-picker/Date-picker.pug
include ../../Buttons/Button_rounded/ButtonWithArrow/ButtonWithArrow.pug
include ../../Inputs/Inputs-with-counter/Inputs-with-counter.pug
mixin NumberBooker(number, category, price, guests, addit)
    div(class="NumberBookerCont")
        div(style="display: flex; justify-content: space-between; align-items: flex-end")
            span  
                h4 № 
                h1 #{number}
                p(class="CardsPurple") &nbsp;#{category}
            span
                h4(style="color: rgba(31, 32, 65, 0.5)") #{price}₽
                h3 &nbsp;в сутки
        form(name="NumberBooker")
            div(style="display: flex; justify-content: space-between;")
                +Date-picker('Прибытие', 'ДД.ММ.ГГГГ','', '19.08.2019')
                +Date-picker('Выезд', 'ДД.ММ.ГГГГ', '', '23.08.2019') 
            div(data-counter="simple")
                +Inputs-with-counter('Гости', 'Сколько гостей', '', {name: "взрослые", min: "0", max: "5", base: `${guests}`}, {name: "дети", min: "0", max: "5", base: "0"}, {name: "младенцы", min: "0", max: "5", base: "0"} )
            div.NumberBookerAddits 
                div 
                    span    
                        span #{price}₽ x&nbsp;
                        span.NumberBookerDayAmount 7 суток
                    span.NumberBookerMultipliedPrise 69 930₽ 
                each val in addit
                    div
                        span 
                            span(style="width: 220px; vertical-align: top;") #{val.desc} 
                            h3(style="vertical-align: top;font-size: 16px;border: 1px solid rgba(31, 32, 65, 0.25); width: 20px;text-align:center; height: 20px; font-weight: 700; border-radius:50%;") #{val.sign}
                        span #{val.price}
                div.NumberBookerTotalPrice
                    span Итого
                    span 68 051₽
            +ButtonWithArrow('забронировать')

