mixin Range-slider(descr, subscr, min, max, defstart, defend)
    .Range-slider
        div.Range-slider__header
            h3 #{descr}
            span.Range-slider__counter
                span(class="Range-slider__min") #{min}
                span ₽ - 
                span(class="Range-slider__max") #{max}
                span ₽
        div.Range-slider__numbers
            span(data-def=`${defstart}`) #{min}
            span(data-def=`${defend}`) #{max}
        div(id="rating" class="Range-slider__slider")
            div(class="Range-slider__tumbler Range-slider__tumbler_min")
            div(class="Range-slider__selected")
            div(class="Range-slider__tumbler Range-slider__tumbler_max")
        if subscr 
            div.Range-slider__subscribe
                p #{subscr}