mixin Review-shape(link, name, date, am, checked, review)
    include ../Checkbox/Button-liker/Button-liker.pug
    div.review-shape
        div.review-shape__header
            span.review-shape__img
                img(src=`${link}`)
            span
                h4 #{name}
                p #{date} назад
        div.review-shape__content
            div.review-shape__liker  
                if checked  
                    +Button-liker('', {id:`${name}`, am:`${am}`, checked:"true"})
                else
                    +Button-liker('', {id:`${name}`, am:`${am}`})
            p.review-shape__review  #{review}
