mixin Menu(login, issues)
    nav(class="menu js-menu")
        ul(class="menu__list js-menu__list")
            each val in issues
                - let modifier = val.modifier  ? `menu__element_type_${val.modifier}` : ''

                if val.blocks
                    li(class=`js-menu__element menu__element ${modifier}` tabindex=0) 
                        span.menu__link #{val.name}
                        span.menu__arrow-down
                            include ../../static/figures/arrow-down/arrow-down.pug
                        ul.js-menu__submenu.menu__submenu
                            each block in val.blocks
                                - let modifier = block.modifier  ? `menu__element_type_${block.modifier}` : ''
                                li(class=`js-menu__element menu__element ${modifier}`)
                                    a(href=`${block.href}` class='menu__link') #{block.name}
                else
                    li(class = `js-menu__element menu__element ${modifier}`)
                        a(class='menu__link'  href=`${val.href}`) #{val.name}
            if login   
                div(class="js-menu__element menu__element  menu__login")
                    a(href="/account/" class="menu__link") #{login}
            if !login
                include ../autorization-panel/autorization-panel.pug