include ../authorization-panel/authorization-panel.pug
include ../arrow/arrow.pug

mixin menu({ login = '', issues, autorization })
  nav.menu.js-menu
    ul.menu__list.js-menu__list
      each element in issues
        if element.blocks
          li.js-menu__element.menu__element(tabindex = 0) 
            span.menu__link #{element.name}
            span.menu__arrow
              +arrow({ direction: 'down' })
            ul.js-menu__submenu.menu__submenu
              each block in element.blocks
                li.js-menu__element.menu__element
                  a.menu__link(href=`${block.href}`) #{block.name}
        else
          li.js-menu__element.menu__element
            a.menu__link(href = `${element.href}`) #{element.name}
      if login   
        li.js-menu__element.menu__element
          a.menu__link(href = '/account/') #{login}
      if !login
        li
          +authorization-panel( autorization )
