mixin Range-slider(descr, subscr, min, max, defstart, defend)
    .range-slider.js-range-slider
        div.range-slider__header
            h3 #{descr}
            span.range-slider__counter
                span(class="range-slider__min js-range-slider__min") #{min}
                span ₽ - 
                span(class="range-slider__max js-range-slider__max") #{max}
                span ₽
        div.range-slider__numbers.js-range-slider__numbers
            span(data-def=`${defstart}`) #{min}
            span(data-def=`${defend}`) #{max}
        div(id="range-slider" class="range-slider__slider")
            div(class="range-slider__tumbler js-range-slider__tumbler range-slider__tumbler_min js-range-slider__tumbler_min")
            div(class="js-range-slider__selected range-slider__selected")
            div(class="range-slider__tumbler js-range-slider__tumbler range-slider__tumbler_max js-range-slider__tumbler_max")
        if subscr 
            div.range-slider__subscribe
                p #{subscr}