mixin number-demo({ number = 0, category = '', price = 0, rate = 0, reviews = 0, pictures = [] } = { })
  include ../rate-stars/rate-stars.pug
  - let amount = pictures.length 
  - let validPrice = price.toLocaleString()
  article.js-number-demo.number-demo
    .js-number-demo__image-cont.number-demo__image-cont(tabindex = 0)
      - for (let i = 0; i < amount; i++){
        if i === 0
          img.js-number-demo__image.number-demo__image(src = `${pictures[i]}`, alt = 'this number looks like ')
        else
          img.js-number-demo__image.number-demo__image.js-number-demo__image_disactive.number-demo__image_disactive(src = `${pictures[i]}`, alt = 'this number looks like ')
      - }
      span.number-demo__arrow.number-demo__arrow_left.js-number-demo__arrow_left(tabindex = 0) expand_more
      span.number-demo__arrow.number-demo__arrow_right.js-number-demo__arrow_right(tabindex = 0) expand_less
      span.js-number-demo__buttons.number-demo__buttons
        - for (let i = 0; i < amount; i++){
          if i === 0 
            span.js-number-demo__button.number-demo__button
          else
            span.js-number-demo__button.number-demo__button.js-number-demo__button_disactive.number-demo__button_disactive
        - }

    .js-number-demo__main-info.number-demo__main-info
      span 
        b.number-demo__font_color_black.number-demo__font_size_middle №
        strong.number-demo__font_color_black.number-demo__font_size_large &nbsp;#{number}
        strong.number-demo__font_color_purple.number-demo__font_size_small.number-demo__font_uppercase &nbsp;&nbsp;#{category}
      span.number-demo__price
        b.number-demo__font_size_middle #{validPrice}₽
        span.number-demo__font_size_small &nbsp;в сутки

    .js-number-demo__rate.number-demo__rate 
      span.js-number-demo__stars.number-demo__stars
        - let compl = Math.floor(rate)
        - let share = rate - compl
        +rate-stars({compl, share})
      span.js-number-demo__reviews.number-demo__reviews
        b.number-demo__font_size_middle #{reviews}
        span.number-demo__font_size_middle &nbsp;Отзывов
